
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /tousgrosdemain/tous-gros-demain-dev/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /tousgrosdemain/tous-gros-demain-dev/index.php [L]
</IfModule>

# END WordPress
